# Ignore compiled Python files
app/__pycache__/

# Ignore virtual environments
.venv/

# Ignore PyCharm settings
.idea/

# Ignore config file
app/config.py

# Ignore prometheus
app/prometheus/data/
app/prometheus/LICENSE
app/prometheus/NOTICE
app/prometheus/prometheus.exe
app/prometheus/promtool.exe